@import './partials/variabili';
@import './partials/navbar';
@import './partials/buttonVins';
@import './partials/footer';

body {
    font-family: Dosis;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

main {
    padding: 3%;
    @if ($darkMode == true) {
        background: $bgBodyNight;
       } @else {
        background: $bgBody;
       }
    h1 {
        font-weight: 900;
        font-size:3em;
    }
    h2 {
        font-weight: 900;
    }

    h5 {
        font-weight: 700;
    }
}

main section {
    width: 100%;
    padding: 2%;
    background-color: lightgrey;
    .title-section {
        h3 {
            font-size: 1.5em;
            font-style: italic;
        }
    }

}

article {
    
    padding: 3%;

    @if ($darkMode == true) {
        background: lightgrey;
       } @else {
        background-color: rgb(123, 189, 209);
       }
}

article h2 {
    text-align: center
}


.buttonVins {
    @include buttonVins;
}

.buttonUp {
    @include buttonVins;
    font-size: 1.5em;
    width: auto;    
}

.buttonPosition {
    display: flex;
    justify-content: end;
    width: 100%;
}

.carousel-caption {
    background-color: rgba(128, 128, 128, 0.514);
    font-weight: 700;
}

aside {
    padding: 3%;
    background-color: lightgray ;
}



