@mixin buttonVins {
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 15px;
    width: 80%;

    @if ($darkMode == true) {
        background: $buttonVinsColorNight;
       } @else {
        background: $buttonVinsColor;
       }

    &:hover {
        transform: scale(1.1);
    }
}