footer {
    padding: 3% 0;
    width: 100%;
    color: white;

    @if ($darkMode == true) {
        background: $bgFooterNight;
       } @else {
        background: $bgFooter;
       }

    a{
        color: white;
        text-decoration: none;
    }
}