// COLORI
$bgBody: linear-gradient(173deg, rgba(83, 188, 217, 0.082) 0%, rgba(8, 10, 131, 0.103) 100%);
$bgNavabar: linear-gradient(173deg, rgba(83,187,217,1) 0%, rgba(8,11,131,1) 100%);
$buttonVinsColor: linear-gradient(173deg, rgba(83,187,217,1) 0%, rgba(8,11,131,1) 100%);
$bgFooter: linear-gradient(319deg, rgba(83,187,217,1) 0%, rgba(8,11,131,1) 100%);